@page
@using ARH.Front.Models
@model UserModel 
@{
ViewData["Title"] = "UserPage";
}

<form method="post">
  @Html.DropDownListFor(x => x.SelectedName, new SelectList(Model.UserNames), new {  @name = "SelectedName" })
     @{
   
    <label for="selectedMonth">Mois:</label>
    @Html.DropDownListFor(x => x.SelectedMonth, new SelectList(Model.Index.MonthNames), new { @id="SelectedMonth"})

  <button type="submit" id="submit-btn" name="submit-Btn" >Submit</button>}
  </form>
   <input type="hidden" name="SelectedMonth" value="@Model.Index.SelectedMonth" />
   @if (Model.IsSubmited==true)
   {
    <h1>Mois de @Model.Index.CurrentCalendar.Days.FirstOrDefault()?.Day.ToString("MMMM") pour @Model.SelectedName</h1>
     <table class="table table-bordered" id="calendar">
  
            <tr>
                <th scope="row">Jour</th>
        
        @foreach (var dayData in Model.Index.CurrentCalendar.Days)
     {    
     string cssclass=Model.Index.DayNameToCssclass(dayData.DayName,dayData.Day); 
     <td class="@cssclass">@dayData.DayName</td>
          }  
       <td class="color"><span data-toggle="tooltip" data-placement="top" title="total de jour entrée"> total de jour entrée</span></td>
          </tr><tr>
     <th scope="row">Date</th>
    
       @foreach (var dayData in Model.Index.CurrentCalendar.Days)
   {   string cssclass=Model.Index.DayNameToCssclass(dayData.DayName,dayData.Day); 
        <td class="@cssclass">@dayData.DayNumber</td>
    }<td class="color"><span data-toggle="tooltip" data-placement="top">  </span></td>
    </tr><tr>
        <th scope="row">Sur site</th>
       @{   
         for (int i = 0; i < Model.Index.CurrentCalendar.Days.Count; ++i)
      {  
        string cssclass=Model.Index.DayNameToCssclass(Model.Index.CurrentCalendar.Days[i].DayName,Model.Index.CurrentCalendar.Days[i].Day);
        float val=Model.stringValuetoInt(Model.Index.CurrentCalendar.Days[i].OnSite);
       <td class="@cssclass"  id="row1-@i" columnnumber="@i">@val</td>
        } }<td class="color" ><span data-toggle="tooltip" data-placement="top" id="total-days-1"  >  </span></td>
      </tr><tr>
                <th scope="row">À domicile</th>
      @{   
         for (int i = 0; i < Model.Index.CurrentCalendar.Days.Count; ++i)
      {  
    string cssclass=Model.Index.DayNameToCssclass(Model.Index.CurrentCalendar.Days[i].DayName,Model.Index.CurrentCalendar.Days[i].Day);
        float val=Model.stringValuetoInt(Model.Index.CurrentCalendar.Days[i].AtHome); 
       <td class="@cssclass" id="row2-@i" columnnumber="@i">@val</td>
        } }
   <td class="color" ><span data-toggle="tooltip" data-placement="top" id="total-days-2"  >  </span></td>
   </tr><tr>
                <th scope="row">CP</th>
      @{   
         for (int i = 0; i < Model.Index.CurrentCalendar.Days.Count; ++i)
      {  
       string cssclass=Model.Index.DayNameToCssclass(Model.Index.CurrentCalendar.Days[i].DayName,Model.Index.CurrentCalendar.Days[i].Day);
        float val=Model.stringValuetoInt(Model.Index.CurrentCalendar.Days[i].PayedVacation); 
       <td class="@cssclass" id="row3-@i" columnnumber="@i" >@val</td>
        } }<td class="color" ><span data-toggle="tooltip" data-placement="top" id="total-days-3"  >  </span></td>
    </tr><tr>
                <th scope="row"> Maladie</th>
 @{   
         for (int i = 0; i < Model.Index.CurrentCalendar.Days.Count; ++i)
      {  
       string cssclass=Model.Index.DayNameToCssclass(Model.Index.CurrentCalendar.Days[i].DayName,Model.Index.CurrentCalendar.Days[i].Day);
        float val=Model.stringValuetoInt(Model.Index.CurrentCalendar.Days[i].Sickness); 
       <td class="@cssclass" id="row4-@i" columnnumber="@i">@val</td>
        } }<td class="color" ><span data-toggle="tooltip" data-placement="top" id="total-days-4"   >  </span></td>
</tr>  <tr>        
                <th scope="row">Sans solde</th>
    @{   
         for (int i = 0; i < Model.Index.CurrentCalendar.Days.Count; ++i)
      {  
       string cssclass=Model.Index.DayNameToCssclass(Model.Index.CurrentCalendar.Days[i].DayName,Model.Index.CurrentCalendar.Days[i].Day);
        float val=Model.stringValuetoInt(Model.Index.CurrentCalendar.Days[i].UnpayedVacation);  
       <td class="@cssclass" id="row5-@i" columnnumber="@i">@val</td>
        } }<td class="color"  ><span data-toggle="tooltip" data-placement="top" id="total-days-5"></span></td></tr> 
<tr >
      <th class="ss" scope="row">travail fait</th>
      @{
      for (int i = 0; i < Model.Index.CurrentCalendar.Days.Count; ++i)
      {    
               
      <td class="columnTotal"  id="columnTotal" ColumnNumber="@i" ></td>
    
      }
      }
      <td class="color"  id="table-days" ></td>
      </tr>
</table>

<label for="commentaire">commentaire:</label><br>
      <textarea style = "height: 100px;width:800px;" readonly>@Model.Index.CurrentCalendar.Comment</textarea>
}
